<% layout('templates/signedout-template') %>

<section class="container-fluid">
  <div class="row">
    <div class="col-6 offset-6">
      <!-- <%- include('../partials/flash') %> -->
      <form action="/auth/login" method="post">
        <div class="mb-3">
          <label class="form-label" for="username">Email:</label>
          <input
            class="form-control"
            name="username"
            id="username"
            type="email"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password:</label>
          <input
            class="form-control"
            name="password"
            id="password"
            type="text"
          />
        </div>
        <button type="submit" class="btn btn-outline-dark btn-lg">Login</button>
      </form>
      <p>Don't have an account? <a href="/auth/register">Sign up</a></p>
    </div>
  </div>
</section>
