<footer class="footer bg-dark py-5 mt-5">
  <div class="container text-center">
    <span class="text-muted">&copy; Issue Tracker 2022 </span>
    <div>
      <a class="" href="/credits">Open Sorurce Attributions</a>
    </div>
  </div>
</footer>
