<div class="col-3 col-sm-2 col-md-3 col-lg-3 col-xl-2">
  <nav
    id="navbar-example3"
    class="h-100 flex-column align-items-stretch pe-4 border-end"
  >
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="/ticket">All Tickets</a>
      <a class="nav-link" href="/ticket/new">Add Ticket</a>
      <a class="nav-link" href="#item-3">My Tickets</a>
    </nav>
  </nav>
</div>
