<% layout('templates/tickets-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/ticket">Ticket</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Ticket</li>
  </ol>
</nav>

<h1>Edit ticket</h1>

<form action="/api/v1/ticket/<%= ticket._id %>?_method=PUT" method="post">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="ticket[title]"
      id="title"
      value="<%= ticket.title %>"
    />
  </div>

  <div>
    <label for="description">Description</label>
    <input
      type="text"
      name="ticket[description]"
      id="description"
      value="<%= ticket.description %>"
    />
  </div>

  <button>Save</button>
  <button>Cancel</button>
</form>
