<% layout('templates/tickets-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/ticket">Tickets</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Ticket</li>
  </ol>
</nav>

<div class="card" style="width: 38rem">
  <div class="card-header p-4">
    <h1 class="card-title">Create Ticket</h1>
    <p class="card-text">
      Create an incident record to report and request with an issue you are
      having
    </p>
  </div>

  <div class="card-body">
    <form action="/api/v1/ticket/" method="post">
      <div class="mb-3">
        <label class="form-label" for="status">Priority</label>
        <select class="form-select" name="ticket[status]" id="status">
          <!-- <option selected>Status</option> -->
          <option selected value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          <option value="Very High">Very High</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">Subject</label>
        <input
          class="form-control"
          type="text"
          name="ticket[title]"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="ticket[description]"
          id="description"
          aria-label="Description"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-outline-dark btn-lg">Create</button>
    </form>
  </div>
</div>
