<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <!-- Font Awesome icons -->
    <script
      src="https://kit.fontawesome.com/217ac7a224.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="navbar-section">
      <!-- <div class="container-fluid"> -->
      <%- include('./partials/navbar/signedout-navbar') %>

      <!-- </div> -->
    </section>

    <section class="intro section-container">
      <div class="row container-fluid text-center align-items-center">
        <div class="col-lg-6">
          <h1 class="main-heading">
            Manage, track, resolve your tickets - together
          </h1>
          <p class="main-subtitle">The #1 software tool used by great teams</p>
          <a
            class="btn btn-primary btn-lg"
            href="/api/<%=apiVersion %>/auth/register"
            role="button"
            >Sign up</a
          >
        </div>
        <div class="col-lg-6">
          <img
            class="img-fluid"
            src="images/bug-track.jpg"
            alt="Bug tracking image"
          />
        </div>
      </div>
    </section>

    <section class="features section-container colored-section">
      <div class="row container-fluid text-center align-items-center">
        <div class="col-lg-4">
          <i class="fa-solid fa-shuffle fa-4x icon"></i>
          <h3 class="subtitle-title">Track</h3>
          <p class="feature-subtitle">Track your progress</p>
        </div>
        <div class="col-lg-4">
          <i class="fa-solid fa-hammer fa-4x icon"></i>
          <h3 class="subtitle-title">Build</h3>
          <p class="feature-subtitle">Build things</p>
        </div>
        <div class="col-lg-4">
          <i class="fa-solid fa-plane-departure fa-4x icon"></i>
          <h3 class="subtitle-title">Release</h3>
          <p class="feature-subtitle">Release new updates</p>
        </div>
      </div>
      <div class="row container-fluid text-center align-items-center">
        <div class="col-lg-4">
          <i class="fa-regular fa-map fa-4x icon"></i>
          <h3 class="subtitle-title">Plan</h3>
          <p class="feature-subtitle">Plan your next steps</p>
        </div>
        <div class="col-lg-4">
          <i class="fa-regular fa-clipboard fa-4x icon"></i>
          <h3 class="subtitle-title">Reports</h3>
          <p class="feature-subtitle">Get important reports</p>
        </div>
        <div class="col-lg-4">
          <i class="fa-solid fa-robot fa-4x icon"></i>
          <h3 class="subtitle-title">Automate</h3>
          <p class="feature-subtitle">Automate workflows</p>
        </div>
      </div>
    </section>

    <div class="container-fluid text-center">
      <h1>IMPORTANT! Site still under development</h1>
      <p>
        This website is being built for testing purposes. Do not store any
        sensitive data. Do not use this site for any production as all or
        partial data maybe deleted at any time. Now enjoy and try it out!
      </p>
      <a
        class="btn btn-primary btn-lg"
        href="/api/<%=apiVersion %>/auth/register"
        role="button"
        >Sign up</a
      >
    </div>
    <%- include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
