.dashboard-chart {
  width: 20rem;
  height: 100%;
  /* background-color: black; */
  margin: 0;
}

/* div {
  overflow: hidden;
} */
.row {
  margin: 0;
}

.dashboard-title {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 200;
}

/* 
@media (min-width: 500px) {
  .sidebar {
    min-width: 200px;
  }
} */

.project-card {
  width: 80%;
}

.ticket-card {
  width: 80%;
}

.inactive-tab {
  color: black;
  /* border: 5px solid red; */
}
/* 
.active-tab {
  color: #72a3f2;
  /* color: black; */
  /* border: 5px solid red; */
} */
