html {
  /* height: -webkit-fill-available; We have to fix html height */
}

body {
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
}

#dash-navbar {
  margin: 0;
  padding: 0;
  /* border: 5px solid red; */
}
#dash-navbar .container-fluid {
  padding: 0% 7%;

  /* border: 5px solid red; */
}

.navbar .container-fluid {
  padding: 2% 7%;
}

.container-fluid {
  padding: 2% 7%;
}

#logo {
  color: white;
  width: 30px;
  height: 24px;
}
.navbar-section {
}
.navbar-brand {
  /* font-family: "Ubuntu"; */
  font-size: 1.5rem;
  font-weight: bold;
}

.main-heading {
  font-size: 3.5rem;
}

/* .section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
} */

/* Sections */

.section-container {
  padding: 5% 5% !important;
}
.colored-section {
  background-color: blueviolet;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Intro section  */

.subtitle-title {
  font-size: 2rem;
}
.main-subtitle {
  font-size: 1.5rem;
  margin-top: 5%;
}

.intro-img {
  right: 23%;
}

/* Features section */

.feature-subtitle {
  font-size: 1.2rem;
  color: #bebdbd;
}

/* AwesomeFont Icon Images */
.icon {
  /* font-size: 2rem; */
  color: #fff; /*#ff4c68; */
  margin-bottom: 1rem;
}
/* 
footer {
  position: sticky;
  bottom: 0;
} */

.pricing-card-notpopular-margin {
  margin-top: 41px;
}
.pricing-card-premium-header {
  color: purple;
}
.pricing-card-enterprise-header {
  color: red;
}

.price-description {
  font-size: 0.8rem;
  height: 3rem;
}

.basic-button {
  /* margin-top: 40px; */
}

.benefit-text {
  font-size: 14px;

  margin-top: 2rem;
}
.pricing-list {
  padding: 0;
}

.pricing-list-item {
  margin: 5px;
}
.pricing-list-item-text {
  font-size: 13px;
}
