<% if (currentUser) { %> <% layout('templates/home-signedin-template') %> <% }
%> <% if (!currentUser) { %> <% layout('templates/home-template') %> <% } %>

<h1>Open Source Attributions</h1>

<div>
  <div>
    <a href="https://www.flaticon.com/free-icons/bug" title="bug icons"
      >Bug icons created by Freepik - Flaticon</a
    >
  </div>
  <div>
    <img
      width="200px"
      id="under-consruction"
      src="/images/under-construction-920.jpg"
      alt="Under Construction image"
    />

    by
    <a
      href="https://pixabay.com/users/merio-1480566/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4010445"
      >Rheo</a
    >
    from
    <a
      href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4010445"
      >Pixabay</a
    >
  </div>
  <div>
    Photo by
    <a
      href="https://unsplash.com/@pete_a?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Pete Alexopoulos</a
    >
    on
    <a
      href="https://unsplash.com/photos/IssFEVzKV1w?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </div>
  <div>
    <a
      href="https://www.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_13315300.htm#query=404%20page&position=0&from_view=keyword&track=ais"
      >Image by storyset</a
    >
    on Freepik
  </div>
  <div>
    <a
      href="https://www.freepik.com/free-vector/business-team-discussing-ideas-startup_6974855.htm#query=teams&position=37&from_view=search&track=sph"
      >Image by pch.vector</a
    >
    on Freepik
  </div>

  <div>
    Image by
    <a
      href="https://www.freepik.com/free-vector/flat-customer-support-illustration_13184991.htm#query=support&position=26&from_view=search&track=sph"
      >Freepik</a
    >
  </div>

  <div>
    <a
      href="https://www.freepik.com/free-vector/digital-marketing-team-constructing-landing-home-page_11235349.htm#query=developement&position=18&from_view=search&track=sph"
      >Image by pch.vector</a
    >
    on Freepik
  </div>
</div>
