<% layout('templates/home-template') %>

<section class="intro section-container">
  <div class="row container-fluid text-center align-items-center">
    <div class="col-lg-6">
      <h1 class="main-heading">
        Manage, track, resolve your tickets - together
      </h1>
      <p class="main-subtitle">The #1 software tool used by great teams</p>
      <a
        class="btn btn-primary btn-lg"
        href="/api/<%=apiVersion %>/auth/register"
        role="button"
        >Sign up</a
      >
    </div>
    <div class="col-lg-6">
      <img
        class="img-fluid"
        src="images/bug-track.jpg"
        alt="Bug tracking image"
      />
    </div>
  </div>
</section>

<section id="features" class="features section-container colored-section">
  <div class="row container-fluid text-center align-items-center">
    <div class="col-lg-4">
      <i class="fa-solid fa-shuffle fa-4x icon"></i>
      <h3 class="subtitle-title">Track</h3>
      <p class="feature-subtitle">Track your progress</p>
    </div>
    <div class="col-lg-4">
      <i class="fa-solid fa-hammer fa-4x icon"></i>
      <h3 class="subtitle-title">Build</h3>
      <p class="feature-subtitle">Build things</p>
    </div>
    <div class="col-lg-4">
      <i class="fa-solid fa-plane-departure fa-4x icon"></i>
      <h3 class="subtitle-title">Release</h3>
      <p class="feature-subtitle">Release new updates</p>
    </div>
  </div>
  <div class="row container-fluid text-center align-items-center">
    <div class="col-lg-4">
      <i class="fa-regular fa-map fa-4x icon"></i>
      <h3 class="subtitle-title">Plan</h3>
      <p class="feature-subtitle">Plan your next steps</p>
    </div>
    <div class="col-lg-4">
      <i class="fa-regular fa-clipboard fa-4x icon"></i>
      <h3 class="subtitle-title">Reports</h3>
      <p class="feature-subtitle">Get important reports</p>
    </div>
    <div class="col-lg-4">
      <i class="fa-solid fa-robot fa-4x icon"></i>
      <h3 class="subtitle-title">Automate</h3>
      <p class="feature-subtitle">Automate workflows</p>
    </div>
  </div>
</section>

<section id="teams" class="container-fluid text-center section-container">
  <h1 class="mb-4">Built for Teams</h1>

  <div class="row justify-content-evenly align-items-center">
    <div class="col-4">
      <p class="main-subtitle">
        For organizations that need centralized visibility, control, and
        security.
      </p>
    </div>
    <div class="col-7">
      <img class="img-fluid" src="images/teams.jpg" alt="Team image" />
    </div>
  </div>
</section>

<section
  id="support"
  class="container-fluid text-center section-container colored-section"
>
  <h1 class="mb-5">Need help? Contact Us</h1>

  <div class="row justify-content-evenly align-items-center">
    <div class="col-6">
      <img class="img-fluid" src="images/support.png" alt="Team image" />
    </div>
    <div class="col-5">
      <p class="main-subtitle">
        Everything you need for best in class service. Email, voice, SMS, and
        live chat support. Routing based on agent status, capacity, and skills,
        as well as conversation priority
      </p>
    </div>
  </div>
</section>

<section class="section-container text-center">
  <div id="teams" class="container-fluid text-center">
    <h1>Important! Site under development</h1>
    <p>
      This website is being built for fun. Do not store any sensitive data. Do
      not use this site for any production as all or partial data maybe deleted
      at any time, minimally once a week. Now enjoy and try it out!
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="/api/<%=apiVersion %>/auth/register"
      role="button"
      >Sign up</a
    >
  </div>
</section>
