<% layout('layouts/projects-boilerplate') %>

<!-- <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Project</li>
  </ol>
</nav> -->

<h1>All Projects</h1>

<div>
  <% for (let project of projects) { %>

  <div class="card mb-3 project-card">
    <div class="card-body">
      <h5 class="card-title">
        <strong>Project: </strong>
        <a href="/projects/<%= project._id %> "> <%= project.title %></a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Owner: </strong><%= project.owner %>
      </h6>
      <p class="card-text">
        <strong>Description: </strong> <%= project.description %>
      </p>
    </div>
  </div>
  <% }%>
</div>
