<% layout('templates/projects-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Project</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Create New Project
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-6 offset-2">
    <h1 class="text-center">Create new Project</h1>

    <form action="/projects" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="project[title]"
          id="title"
          aria-label="Title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="project[description]"
          id="description"
          aria-label="Description"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="owner">Owner Name</label>
        <select
          class="form-select"
          name="project[owner]"
          id="owner"
          aria-label="Owner"
        >
          <% users.forEach(user => { %>
          <option value="<%= user._id%>">
            <%= user.first%> <%=user.last %>
          </option>

          <% }) %>
        </select>
      </div>

      <!-- <div>
    <label for="company">Company</label>
    <input type="text" name="project[company]" id="company" />
  </div> -->

      <button>Create</button>
    </form>
  </div>
</div>
