<% if (currentUser) { %> <% layout('templates/home-signedin-template') %> <% }
%> <% if (!currentUser) { %> <% layout('templates/home-template') %> <% } %>

<h1>Open Source Attributions</h1>

<div>
  <div>
    <a href="https://www.flaticon.com/free-icons/bug" title="bug icons"
      >Bug icons created by Freepik - Flaticon</a
    >
  </div>
  <div>
    <img
      width="200px"
      id="under-consruction"
      src="/images/under-construction-1920.jpg"
      alt="Under Construction image"
    />

    by
    <a
      href="https://pixabay.com/users/merio-1480566/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4010445"
      >Rheo</a
    >
    from
    <a
      href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4010445"
      >Pixabay</a
    >
  </div>
  <div>
    Photo by
    <a
      href="https://unsplash.com/@pete_a?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Pete Alexopoulos</a
    >
    on
    <a
      href="https://unsplash.com/photos/IssFEVzKV1w?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </div>
</div>
